{% extends "app/base.html" %}
{% load static %}
{% block title %}
    Auto Invoice
{% endblock %}
{% block script %}
    <script src="http://mozilla.github.io/pdf.js/build/pdf.js"></script>
{% endblock %}

{% block body %}
    <body>
    <div class="container" ng-app="autoInvoiceApp" ng-controller="autoInvoiceController">
        {% include "app/menu.html" %}
        <center><h2>Auto Invoice</h2></center>

        <div style="margin-top: 10px; margin-bottom: 10px;">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="invoiceDate">INVOICE DATE:&nbsp;</label>
                    <div class="col-sm-3">
                        <input id="invoiceDate" name="invoiceDate" onkeydown="return false;" class="form-control">
                    </div>
                </div>


                <div class="form-group  ">
                    <label for="outletList" class="control-label col-sm-2">OUTLET LIST:&nbsp;</label>
                    <div class="col-sm-3">
                        <div id="outletList" class="alert-danger" name="outletList" style="width: 220px;"></div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="page" class="control-label col-sm-2">SELECT PAGE:</label>
                    <div class="col-sm-3">
                        <input id="page" type="number" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="po" class="control-label col-sm-2">SELECT PO:&nbsp;</label>
                    <div class="col-sm-3">
                        <input id="po" name="po" style="width: 220px;" type="file">
                    </div>
                </div>
            </div>


            <button id="save">Save</button>


        </div>
    </div>

    <script type="text/javascript">
        var app = angular.module("autoInvoiceApp", []);
        app.controller("autoInvoiceController", function ($scope, $http) {
            var product_list = [];
            var file = null;
            $('#menu').kendoMenu();
            $('#invoiceDate').kendoDatePicker({
                format: 'dd MMMM, yyyy'
            });

            var todayDate = kendo.toString(kendo.parseDate(new Date()), 'dd MMMM, yyyy');
            $("#invoiceDate").data('kendoDatePicker').value(todayDate);

            $('#invoiceDate').bind('click', function () {
                if (!isDatePickerOpen)
                    $(this).data('kendoDatePicker').open();
                else $(this).data('kendoDatePicker').close();

                isDatePickerOpen = !isDatePickerOpen;
            });
            $("#po").bind("change", function (event) {
                    file = event.target.files[0];
                    //readFile(file);
                }
            );

            $("#save").bind("click", function () {

                valid = true;
                if ($('#outletList').val() == "") {
                    valid = false;
                    alert("Select an outlet from outlet list");
                } else if ($("#page").val() == "") {
                    valid = false;
                    alert("Enter a valid page number")
                } else if (file === null) {
                    valid = false;
                    alert("Select a valid file");
                }

                if (valid) {
                    readFile(file);
                }


            });

            function readFile(file) {
                var fileReader = new FileReader();
                fileReader.onload = function () {
                    //Step 4:turn array buffer into typed array
                    var typedarray = new Uint8Array(this.result);
                    parsePdf(typedarray);
                    console.log("parsing complete");


                };
                fileReader.readAsArrayBuffer(file);
            }

            function parsePdf(typedarray) {
                var loadingTask = pdfjsLib.getDocument(typedarray);
                product_list = [];

                loadingTask.promise.then(function (pdf) {


                    if (parseInt($("#page").val()) > pdf._pdfInfo.numPages) {
                        alert("Select page between 1 to " + pdf._pdfInfo.numPages);
                    }

                    pdf.getPage(parseInt($("#page").val())).then(function (page) {


                        page.getTextContent({
                            normalizeWhitespace: true,
                            disableCombineTextItems: true
                        }).then(function (content) {

                            var text = ""
                            content.items.forEach(element => {

                                text += element.str + " "

                            });

                            products = text.match(/33\d{5}/g);
                            quantities = [];
                            text.match(/\s[0-9]+(\.[0-9][0-9])?\sEA/g).forEach(e => {
                                sanitized = e.replace("EA", "").trim();
                                quantities.push(sanitized);
                            });

                            for (i = 0; i < products.length; i++) {
                                product_list.push(
                                    {
                                        product_number: products[i],
                                        quantity: quantities[i]
                                    }
                                );
                            }
                            console.log("parsing done!");
                            callApi();

                        });
                    });

                });
            }

            function callApi() {
                var dt = {
                    outlet: $('#outletList').val(),
                    invoice_date: new Date($('#invoiceDate').val()),
                    invoice_product_list: product_list
                }

                console.log(dt);

                $http({
                    method: "POST",
                    url: '/api/invoice/',
                    data: dt
                }).then(
                    function success(response) {

                        if (response.data) {
                            window.location.assign("/app/invoice_pdf/" + response.data.invoice_id)
                        } else {
                            $.notify("Something went wrong!", "error");
                        }
                    },
                    function error(response) {
                        console.log(response)
                        $.notify("Something went wrong!", "error");
                    }
                );
            }

            $("#outletList").kendoDropDownList({
                dataTextField: "outlet_name",
                dataValueField: "outlet_id",
                dataSource: {
                    transport: {
                        read: {
                            url: '/api/outlet/',
                            dataType: 'json'
                        }
                    }
                },
                optionLabel: "SELECT OUTLET"
            });
        });
    </script>

    <style type="text/css">
        .k-grid-header .k-header {
            background-color: #0d47a1;
            border: 0 !important;
        }
    </style>
{% endblock body %}